<?xml version="1.0" encoding="UTF-8"?>



<launch>


<!-- ............................................................................................
Arguments for launch file with defaults provided
............................................................................................-->
<arg name="database_path"     	default="~/.ros/rtabmap.db"/>
<arg name="rgb_topic"   	default="/camera/rgb/image_raw"/>
<arg name="depth_topic" 	default="/camera/depth/image_raw"/>
<arg name="camera_info_topic" 	default="/camera/rgb/camera_info"/>  


<!-- ............................................................................................
Mapping Node 
Rtabmap parameters
............................................................................................-->
<group ns="rtabmap">
<node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">

<!-- ............................................................................................
Rtabmap parameters
<param name="subscribe_depth" type="bool" value="true"/> 2D lidar, set subscribe_scan to true. If 3D lidar set subscribe_scan_cloud to true instead and remap corresponding scan_cloud topic instead of scan
<param name="subscribe_scan"   type="bool" value="true"/>
<param name="queue_size"       type="int"    value="20"/>
............................................................................................-->
<param name="database_path"       type="string" value="$(arg database_path)"/>
<param name="frame_id"            type="string" value="robot_footprint"/> 
<param name="odom_frame_id"       type="string" value="odom"/>
<param name="subscribe_depth"     type="bool"   value="true"/>
<param name="subscribe_scan"      type="bool"   value="true"/>
<param name="queue_size"          type="int"    value="10"/>

    
<!--............................................................................................ 
RTAB-Map Inputs 
............................................................................................-->
<remap from="scan" 		to="/scan"/>
<remap from="rgb/image" 	to="$(arg rgb_topic)"/>
<remap from="depth/image" 	to="$(arg depth_topic)"/>
<remap from="rgb/camera_info" 	to="$(arg camera_info_topic)"/>

<!--............................................................................................ 
RTAB-Map Inputs 
<param name="Rtabmap/DetectionRate" type="string" value="1"/> Rate (Hz) at which new nodes are added to map
............................................................................................-->
<remap from="grid_map" 			to="/map"/>
<param name="Rtabmap/DetectionRate" 	type="string" value="1"/>


<!-- ............................................................................................
Loop Closure Detection
0=SURF 1=SIFT 2=ORB 3=FAST/FREAK 4=FAST/BRIEF 5=GFTT/FREAK 6=GFTT/BRIEF 7=BRISK 8=GFTT/ORB 9=KAZE 
RTABMAP_PARAM(BRISK, Thresh,       int, 30, "FAST/AGAST detection threshold score.");
RTABMAP_PARAM(BRISK, Octaves,      int, 3,  "Detection octaves. Use 0 to do single scale.");
RTABMAP_PARAM(BRISK, PatternScale, float, 1,"Apply this scale to the pattern used for sampling the neighbourhood of a keypoint.");
............................................................................................-->   
<param name="Kp/DetectorStrategy" 	type="string" 	value="0"/>
<!--param name="BRISK/Thresh" 		type="int" 	value="30"/-->
<!--param name="BRISK/Octaves" 		type="int" 	value="3"/-->
<!--param name="BRISK/PatternScale" 	type="float" 	value="1"/-->
<param name="SURF/HessianThreshold" 	type="string" value="100"/>


<!-- ............................................................................................
KeypointMemory (Keypoint-based)
RTABMAP_PARAM(Kp, MaxFeatures,  int, 500,  "Maximum features extracted from the images (0 means not bounded, <0 means no extraction).");
RTABMAP_PARAM(Kp, BadSignRatio,  float, 0.5,   "Bad signature ratio (less than Ratio x AverageWordsPerImage = bad).");
RTABMAP_PARAM(Kp, NndrRatio,   float, 0.8,   "NNDR ratio (A matching pair is detected, if its distance is closer than X times the distance of the second nearest neighbor.)");
RTABMAP_PARAM(Kp, Parallelized,   bool, true,   "If the dictionary update and signature creation were parallelized.");
............................................................................................-->
<param name="Kp/MaxFeatures" 	type="string" 	value="500"/> 
<!--param name="Kp/BadSignRatio" 	type="float" 	value="0.5"/-->
<!--param name="Kp/NndrRatio" 	type="float" 	value="0.8"/-->
<param name="Kp/Parallelized" 	type="string" 	value="true"/>      

 
<!-- ............................................................................................
Graph optimization
RTABMAP_PARAM(Optimizer, Strategy,        int, 2,          "Graph optimization strategy: 0=TORO, 1=g2o, 2=GTSAM and 3=Ceres.");
RTABMAP_PARAM(Optimizer, Iterations,      int, 20,         "Optimization iterations.");
RTABMAP_PARAM(Optimizer, Epsilon,         double, 0.00001, "Stop optimizing when the error improvement is less than this value.");
............................................................................................-->
<param name="Optimizer/Strategy" 	type="string" 	value="2"/>
<param name="Optimizer/Iterations" 	type="string" 	value="20"/>
<param name="Optimizer/Epsilon" 	type="string" 	value="0.00001"/>


<!-- ............................................................................................
Common registration parameters
RTABMAP_PARAM(Reg, RepeatOnce,         bool, true,    "Do a second registration with the output of the first registration as guess. Only done if no guess was provided for the first registration (like on loop closure). It can be useful if the registration approach used can use a guess to get better matches.");
RTABMAP_PARAM(Reg, Strategy,          int, 0,        "0=Vis, 1=Icp, 2=VisIcp");
RTABMAP_PARAM(Reg, Force3DoF,         bool, false,   "Force 3 degrees-of-freedom transform (3Dof: x,y and yaw). Parameters z, roll and pitch will be set to 0.");
RTABMAP_PARAM(Reg, Force3DoF,     bool, false,   "Force 3 degrees-of-freedom transform (3Dof: x,y and yaw). Parameters z, roll and pitch will be set to 0.");
............................................................................................-->
<param name="Reg/Strategy" 	type="string" 	value="0"/>
<param name="Reg/Force3DoF" 	type="string" 	value="true"/>
<param name="Reg/RepeatOnce" 	type="string" 	value="true"/>  


<!-- ............................................................................................
Visual registration parameters
RTABMAP_PARAM(Vis, EpipolarGeometryVar,  float, 0.1,    uFormat("[%s = 2] Epipolar geometry maximum variance to accept the transformation.", kVisEstimationType().c_str()));
RTABMAP_PARAM(Vis, MinInliers,            int, 20,       "Minimum feature correspondences to compute/accept the transformation.");
RTABMAP_PARAM(Vis, MeanInliersDistance,  float, 0.0,    "Maximum distance (m) of the mean distance of inliers from the camera to accept the transformation. 0 means disabled.");
RTABMAP_PARAM(Vis, MinInliersDistribution,   float, 0.0,    "Minimum distribution value of the inliers in the image to accept the transformation. The distribution is the second eigen value of the PCA (Principal Component Analysis) on the keypoints of the normalized image [-0.5, 0.5]. The value would be between 0 and 0.5. 0 means disabled.");
............................................................................................-->
<param name="Vis/MinInliers" 		type="string" 	value="20"/>
<!--param name="Vis/MeanInliersDistance" 	type="float" 	value="0.0"/-->
<!--param name="Vis/EpipolarGeometryVar" 	type="float" 	value="0.1"/-->


<!-- ............................................................................................
Memory
RTABMAP_PARAM(Mem, NotLinkedNodesKept,          bool, true,     "Keep not linked nodes in db (rehearsed nodes and deleted nodes).");
RTABMAP_PARAM(Mem, BadSignaturesIgnored,        bool, false,    "Bad signatures are ignored.");
............................................................................................-->
<param name="Mem/NotLinkedNodesKept" 	type="string" 	value="false"/>
<!--param name="Mem/BadSignaturesIgnored" 	type="bool" 	value="true"/-->

</node>


<!-- ............................................................................................
visualization with rtabmapviz
............................................................................................-->
<node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
        <param name="subscribe_depth"             type="bool" value="true"/>
        <param name="subscribe_scan"              type="bool" value="true"/>
        <param name="frame_id"                    type="string" value="robot_footprint"/>

        <remap from="rgb/image"       to="$(arg rgb_topic)"/>
        <remap from="depth/image"     to="$(arg depth_topic)"/>
        <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
        <remap from="scan"            to="/scan"/>
	<remap from="/rtabmap/odom"   to="/odom"/>
</node>


</group> 


</launch>
